[Unit]
Description=1.6-rebuild wired daemon
SourcePath=/usr/bin/wired
Requires=ankiinit.service
After=ankiinit.service

ConditionFileIsExecutable=/usr/bin/wired

[Service]
# give ankiinit time to set cpu and ram freq
ExecStartPre=/usr/bin/sleep 3
ExecStart=/usr/bin/wired
Restart=no

[Install]
WantedBy=multi-user.target